* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

#particles-js {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('matrix-5361690.png'); */
  background-color: #000;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100%;
}

#particles-js h1 {
  position: absolute;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
